@import 'tailwindcss';

@theme {
  --background-image-fsy-pattern: url('/images/banner.jpg');
  --font-sans: 'Onest', sans-serif;

  /* Color pallete */
  --color-primary: #003f70;
  --background-image-primary-gradient: linear-gradient(
    180deg,
    #003c6b,
    #004e89
  );
  --background-image-primary-gradient-right: linear-gradient(
    to right,
    #003c6b,
    #005ea8
  );

  --color-villa-flor: #109618;
  --color-puerto-cabezas: #e68a00;
  --color-las-americas: #1c21b4;
  --color-bello-horizonte: #0089b2;
}
